{% extends "base.html" %}

{% block title %}Facilities<{% endblock %}

{% block content %}
    <a href="/facilities/add">
        <p>Add Facility</p>
    </a>
    <ul>
        {% for facility in object_list %}
            <a href='/facilities/{{ facility.id }}'>
                <h2>{{ facility.name }}</h2>
            </a>
            <p>{{ facility.description }}</p>
            {% if facility.image %}
                <img src="{{ facility.image.url }}" alt="{{ facility.name }}">
            {% endif %}
            <p>{{ facility.location }}</p>
            <p>{{ facility.sport_type }}</p>
            <p>{{ facility.capacity }}</p>
            {% if facility.is_indoor %}
                <p>Indoor</p>
            {% else %}
                <p>Outdoor</p>
            {% endif %}
            <p>{{ facility.contact_information }}</p>
        {% endfor %}
    </ul>
{% endblock %}
