{% extends "base.html" %}

{% block title %}Facility<{% endblock %}

{% block content %}
    <h2>{{ facility.name }}</h2>
    <p>{{ facility.description }}</p>
    {% if facility.image %}
        <img src="{{ facility.image.url }}" alt="{{ facility.name }}">
    {% endif %}
    <p>{{ facility.location }}</p>
    <p>{{ facility.sport_type }}</p>
    <p>{{ facility.capacity }}</p>
    {% if facility.is_indoor %}
        <p>Indoor</p>
    {% else %}
        <p>Outdoor</p>
    {% endif %}
    <p>{{ facility.contact_information }}</p>
    {% if subscription_link %}
        <a href="{{ subscription_link }}">Facility events calendar subscription link</a>
    {% endif %}
    {% if user.is_authenticated and user.pk == facility.user.pk %}
        <a href="{% url 'update_facility' facility.pk %}">
            <p>Update Facility</p>
        </a>
    {% endif %}
    {% if user.is_authenticated and user.pk == facility.user.pk %}
        <a href="{% url 'delete_facility' facility.pk %}">
            <p>Delete Facility</p>
        </a>
    {% endif %}
    {% if not user_rating %}
        <a href="{% url 'add_rating' facility.pk %}">
            <p>Add Rating</p>
        </a>
    {% endif %}
    {% for event in events %}
        <a href="{% url 'event' event.pk %}">
            <h2>{{ event.name }}</h2>
        </a>
        <p>{{ event.start_datetime }}</p>
        <p>{{ event.end_datetime }}</p>
        <p>{{ event.sport_type }}</p>
    {% endfor %}
    {% for rating in ratings %}
        <p>{{ rating.user }}</p>
        <p>{{ rating.rating }}</p>
        <p>{{ rating.comment }}</p>
        <p>{{ rating.date }}</p>
        {% if rating == user_rating %}
            <a href="{% url 'update_rating' rating.pk %}">
                <p>Update Rating</p>
            </a>
            <a href="{% url 'delete_rating' rating.pk %}">
                <p>Delete Rating</p>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
