{% extends "base.html" %}

{% block title %}Facilities{% endblock %}

{% block content %}
    <div class="space-y-12">
        <div class="pb-12">
            <div class="mt-10 ml-5 grid grid-cols-6 gap-x-6 gap-y-3 sm:grid-cols-6">
                <div class="sm:col-start-2 col-span-4 rounded">

                    <form action="{% url 'facilities' %}" method="get" class="flex items-center space-x-4">
                        <label class="flex-1">
                            <input type="text" name="q" placeholder="Search..." id="q" class="block w-full rounded border px-3 py-1.5 text-gray-900  ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </label>
                        <button type="submit" class="text-indigo-600 hover:text-indigo-700">Search</button>
                        <a href="{% url 'add_facility' %}" class="px-4 py-2 bg-indigo-600 text-white rounded  hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add Facility</a>
                    </form>

                </div>
                {% for facility in facilities_list %}

                    <div class="sm:col-start-2 col-span-4 h-40 rounded">
                        <a href="{% url 'facility' facility.pk %}" class="flex items-center space-x-4 rounded border-gray-300 border">
                            <div class="w-40 h-40 rounded">
                                {% if facility.image %}
                                    <img src="{{ facility.image.url }}" alt="{{ facility.name }}" class="w-full h-full object-cover">
                                {% endif %}
                            </div>

                            <div>
                                <h2 class="text-xl">{{ facility.name }}</h2>
                                <h5 class="text-sm">{{ facility.location }}</h5>
                                <h5>{{ facility.description }}</h5>
                                <h4>
                                    {{ facility.sport_type }}
                                    {% if facility.avg_rating %}
                                        <span class="separator border-l border-gray-400 mx-2 h-3 font-bold"></span>
                                        <span class="rating-star">&#9733;</span>
                                        {{ facility.avg_rating }}
                                        ({{ facility.total_comments }})
                                    {% endif %}
                                </h4>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
