{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <h1>User Profile</h1>
    <p>Username: {{ user_profile.username }}</p>
    <p>Date of Birth: {{ user_profile.date_of_birth }}</p>
    <p>Description: {{ user_profile.description }}</p>
    <p>Sports: {{ user_profile.sports }}</p>
    {% if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}" alt="Avatar">
    {% else %}
        <p>No avatar uploaded</p>
    {% endif %}
    {% if user.is_authenticated and user_profile.pk == request.user.pk %}
        <a href="{% url 'update_profile' user_profile.pk %}">
            <p>Update Profile</p>
        </a>
        <a href="{% url 'delete_profile' user_profile.pk %}">
            <p>Delete Profile</p>
        </a>
    {% endif %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit"
                class="text-base font-semibold leading-6 text-gray-900 hover:underline underline-offset-4">
            Log out
        </button>
    </form>
{% endblock %}