{% extends "base.html" %}

{% block title %}Event<{% endblock %}

{% block content %}
    <h2>{{ event.name }}</h2>
    <a href="{% url 'facility' event.facility_id %}">
        <p>{{ event.facility }}</p>
    </a>
    <p>{{ event.description }}</p>
    <p>{{ event.sport_type }}</p>
    <p>{{ event.start_datetime }}</p>
    <p>{{ event.end_datetime }}</p>
    {% if facility.is_cyclic %}
        <p>Cyclic</p>
    {% else %}
        <p>NonCyclic</p>
    {% endif %}
    <p>{{ event.min_people_no }}</p>
    <p>{{ event.max_people_no }}</p>
    {% if user.is_authenticated %}
        {% if not registration %}
            <a href="{% url 'add_registration' event.pk %}">
                <p>Register</p>
            </a>
        {% else %}
            <a href="{% url 'delete_registration' registration.pk %}">
                <p>Unregister</p>
            </a>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and user.pk == event.user.pk %}
        <a href="{% url 'update_event' event.pk %}">
            <p>Update Event</p>
        </a>
        <a href="{% url 'delete_event' event.pk %}">
            <p>Delete Event</p>
        </a>
    {% endif %}
    {% for registration in registrations %}
        <a href="{% url 'user_profile' registration.user.pk %}">
            <p>{{ registration.user }}</p>
        </a>
    {% endfor %}
{% endblock %}
